.forgot-password-page {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url("../../assets/images/login-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-page .content {
    background-color: white;
    width: 100%;
    max-width: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-password-page h2 {
    color: #67a471;
}

.forgot-password-page form {
    display: flex;
    flex-direction: column;
}

.forgot-password-page input {
    margin-bottom: 10px;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.forgot-password-page button {
    background-color: #67a471;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password-page button:hover {
    background-color: #4f8257;
}

.forgot-password-page a {
    color: #67a471;
    margin-top: 12px;
    font-size: 15px;
    text-decoration: none;
}

.forgot-password-page a:hover {
    text-decoration: underline;
}

.forgot-password-page .footer p {
    color: #555;
    margin-top: 20px;
    font-size: 14px;
}

.forgot-password-page .footer p a {
    margin-left: 5px;
}

.forgot-password-page .error-message {
    background-color: #ffe6e6;
    color: red;
    margin-top: 20px;
    margin-bottom: 11px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
}